# Pido establecimientos a foursquare

In [1]:
from pymongo import MongoClient
from pymongo import GEOSPHERE
import pandas as pd
import requests
import json
from dotenv import load_dotenv
import os
import src.api as api

### Vegan restaurans

In [2]:
vegano = 'vegano'

In [3]:
resp = api.request_four(vegano)

In [4]:
veganos = api.decode(resp)

In [5]:
lista_veganos = pd.DataFrame(veganos)

In [6]:
lista_veganos.head()

                  name    latitud  longitud
0                 VEGA  40.422318 -3.706047
1              B13 Bar  40.421921 -3.703402
2  pura vida vegan bar  40.410208 -3.709029
3  Levél Veggie Bistro  40.415730 -3.677641
4        La Encomienda  40.410672 -3.705982

In [7]:
df_veganos = api.typepoint(veganos)

In [8]:
df_veganos['tipo'] = 'vegan'

### Starbucks

In [9]:
starbucks = 'starbucks'

In [10]:
resp = api.request_four(starbucks)

In [11]:
starbucks = api.decode(resp)

In [12]:
lista_starbucks = pd.DataFrame(starbucks)

In [13]:
lista_starbucks.head()

                                   name    latitud  longitud
0             Starbucks Room Mate Oscar  40.420752 -3.699315
1                 Starbucks Princesa 40  40.429069 -3.715079
2                 Starbucks Plaza Río 2  40.391304 -3.701123
3                     Starbucks Pozuelo  40.438168 -3.793838
4  Starbucks ECI Castellana (Starbucks)  40.447489 -3.693093

In [14]:
df_starbucks = api.typepoint(starbucks)

In [15]:
df_starbucks['tipo'] = 'starbucks'

### Airport

In [16]:
aeropuerto = 'airport'

In [17]:
resp = api.request_four(aeropuerto)

In [18]:
aeropuerto = api.decode(resp)

In [19]:
lista_aeropuerto = pd.DataFrame(aeropuerto)

In [20]:
lista_aeropuerto = lista_aeropuerto.head(1)

In [21]:
df_aeropuerto = api.typepoint(aeropuerto)

In [22]:
df_aeropuerto = df_aeropuerto.head(1)

In [23]:
df_aeropuerto['tipo'] = 'aeropuerto'

### Night clubs

In [24]:
discoteca = 'club'

In [25]:
resp = api.request_four(discoteca)

In [26]:
discoteca = api.decode(resp)

In [27]:
lista_discoteca = pd.DataFrame(discoteca)

In [28]:
df_discoteca = api.typepoint(discoteca)

In [29]:
df_discoteca['tipo'] = 'club'

### Basketball

In [30]:
baloncesto = 'baloncesto'

In [31]:
resp = api.request_four(baloncesto)

In [32]:
baloncesto = api.decode(resp)

In [33]:
lista_baloncesto = pd.DataFrame(baloncesto)

In [34]:
df_baloncesto = api.typepoint(baloncesto)

In [35]:
df_baloncesto['tipo'] = 'basketball'

### Kindergarten

In [36]:
infantil = 'colegio infantil', 'escuelita','nursery', 'infantil'

In [37]:
resp = api.request_four(infantil)

In [38]:
infantil = api.decode(resp)

In [39]:
lista_infantil = pd.DataFrame(infantil)

In [40]:
df_infantil = api.typepoint(infantil)

In [41]:
df_infantil['tipo'] = 'kindergarten'

### Hairdresser

In [42]:
veterinario = 'peluqueria canina'

In [43]:
resp = api.request_four(veterinario)

In [44]:
veterinario = api.decode(resp)

In [45]:
lista_veterinario = pd.DataFrame(veterinario)

In [46]:
df_veterinario = api.typepoint(veterinario)

In [47]:
df_veterinario['tipo'] = 'hairdresser'
df_veterinario

,name,location,tipo
0,Mini zoo,"{'type': 'Point', 'coordinates': [40.473123754...",hairdresser
1,Tropi Fauna,"{'type': 'Point', 'coordinates': [40.089626, -...",hairdresser
2,peluquería canina Daniela Vallejo,"{'type': 'Point', 'coordinates': [40.366642440...",hairdresser
3,Can Cut Peluquería Canina,"{'type': 'Point', 'coordinates': [40.396575142...",hairdresser
4,Peluquería Canina Peluditos,"{'type': 'Point', 'coordinates': [40.392329251...",hairdresser
5,Water-dog Peluqueria Canina,"{'type': 'Point', 'coordinates': [40.481479, -...",hairdresser
6,"Peluquería Canina ""Lotta & Less""","{'type': 'Point', 'coordinates': [40.450457797...",hairdresser
7,Peluquería canina Truka,"{'type': 'Point', 'coordinates': [40.348889356...",hairdresser
8,Nuka & Noa - Peluquería Canina,"{'type': 'Point', 'coordinates': [40.544982710...",hairdresser
9,Peluqueria canina la dehesa,"{'type': 'Point', 'coordinates': [40.561991159...",hairdresser
10,Tula Peluqueria Canina,"{'type': 'Point', 'coordinates': [40.488738161...",hairdresser
11,Peluquería Canina Sandra,"{'type': 'Point', 'coordinates': [40.190224487...",hairdresser
12,Peluqueria Canina Beverly Dogs Navalcarnero,"{'type': 'Point', 'coordinates': [40.286235008...",hairdresser
13,Peluquería canina Alaskan,"{'type': 'Point', 'coordinates': [40.646271464...",hairdresser
14,Peluquería Canina RM,"{'type': 'Point', 'coordinates': [40.674499248...",hairdresser

### Competency

In [89]:
df_competency = pd.read_csv("data/competency.csv",encoding = "ISO-8859-1", dtype=str)

In [90]:
df_competency

                   name    latitude   longitude
0                   Fon   40.530724   -3.632687
1             eRepublik    40.43094  -3.6952896
2            Videoplaza  40.4596242  -3.6923285
3                 Busuu  40.4225487  -3.6830316
4                Nexway  40.4142986  -3.7033074
5             Comunitae  40.4905109  -3.7033403
6   Tuenti Technologies  40.4158236   -3.696277
7           Virgin Play  40.4273082  -3.6895115
8              ticketea  40.4455155  -3.7061764
9               Genasys  40.4161835  -3.6988729
10               BuyVIP  40.4167413  -3.7032498
11                  Fon   40.530724   -3.632687
12            eRepublik    40.43094  -3.6952896
13           Videoplaza  40.4596242  -3.6923285
14                Busuu  40.4225487  -3.6830316
15               Nexway  40.4142986  -3.7033074
16            Comunitae  40.4905109  -3.7033403
17  Tuenti Technologies  40.4158236   -3.696277
18          Virgin Play  40.4273082  -3.6895115
19             ticketea  40.4455155  -3.7061764
20              Genasys  40.4161835  -3.6988729
21               BuyVIP  40.4167413  -3.7032498

In [50]:
documentos = []
for x in range(0, len(df_competency)):
    temporal = {
        "name": df_competency.name[x],
        "location": {"type": "Point", "coordinates": [float(df_competency.latitude[x]), float(df_competency.longitude[x])]}
    }
    documentos.append(temporal)

df_competency = pd.DataFrame(documentos)

In [51]:
df_competency['tipo'] = 'competency'

### Check offices

In [52]:
venues = pd.concat([df_starbucks, df_veganos, df_aeropuerto, df_discoteca, df_baloncesto, df_infantil, df_veterinario, df_competency])

In [53]:
venues

,name,location,tipo
0,Starbucks Room Mate Oscar,"{'type': 'Point', 'coordinates': [40.420751835...",starbucks
1,Starbucks Princesa 40,"{'type': 'Point', 'coordinates': [40.429068740...",starbucks
2,Starbucks Plaza Río 2,"{'type': 'Point', 'coordinates': [40.391303854...",starbucks
3,Starbucks Pozuelo,"{'type': 'Point', 'coordinates': [40.438168161...",starbucks
4,Starbucks ECI Castellana (Starbucks),"{'type': 'Point', 'coordinates': [40.447488723...",starbucks
...,...,...,...
17,Tuenti Technologies,"{'type': 'Point', 'coordinates': [40.4158236, ...",competency
18,Virgin Play,"{'type': 'Point', 'coordinates': [40.4273082, ...",competency
19,ticketea,"{'type': 'Point', 'coordinates': [40.4455155, ...",competency
20,Genasys,"{'type': 'Point', 'coordinates': [40.4161835, ...",competency
21,BuyVIP,"{'type': 'Point', 'coordinates': [40.4167413, ...",competency

In [54]:
venues.to_json("data/venues.json", orient="records")

In [2]:
client = MongoClient("localhost:27017")
db = client.get_database("ironhack")

In [3]:
venues_mongo = db.get_collection("venues")

In [4]:
venues_mongo.find_one({})

{'_id': ObjectId('607d5cab941fb22df8d615c0'),
 'name': 'Starbucks Room Mate Oscar',
 'location': {'type': 'Point', 'coordinates': [40.4207518355, -3.6993145297]},
 'tipo': 'starbucks'}

In [5]:
df_companies = pd.read_csv("data/companies.csv",encoding = "ISO-8859-1", dtype=str)

### Comprobamos oficinas

In [6]:
AsesorSeguros = [40.497716, -3.647842]
NotePub = [40.416741, -3.70325]
FeedzZ = [40.4722272, -3.6532523]
Adoos = [40.432883, -3.8166758]
MediBANK = [40.4718534, -3.8203307]
Gennio = [40.4346935, -3.6782829]
Zankyou = [40.6070897, -3.6912754]

In [7]:
AsesorSeguros_point = {"type": "Point",  "coordinates": AsesorSeguros}
NotePub_point = {"type": "Point",  "coordinates": NotePub}
FeedzZ_point = {"type": "Point",  "coordinates": FeedzZ}
Adoos_point = {"type": "Point",  "coordinates": Adoos}
MediBANK_point = {"type": "Point",  "coordinates": MediBANK}
Gennio_point = {"type": "Point",  "coordinates": Gennio}
Zankyou_point = {"type": "Point",  "coordinates": Zankyou}

In [8]:
##consulta = {"location": {"$near": {"$geometry": possible_office_point, "$maxDistance": 2500}}}

In [9]:
#venues_mongo = list(venues_mongo.find(consulta))

In [57]:
AsesorSeguros = [{'$geoNear': {'near': AsesorSeguros_point , 'distanceField': 'dist', 'maxDistance': 1000, 'spherical': True}}]

In [58]:
AsesorSeguros = list(venues_mongo.aggregate(AsesorSeguros))

In [59]:
df_AsesorSeguros = pd.DataFrame(AsesorSeguros)

In [60]:
df_AsesorSeguros_distance = api.mindistance(df_AsesorSeguros)

In [61]:
df_AsesorSeguros_distance

  vegan club competency kindergarten starbucks basketball hairdresser
0    []   []         []           []        []         []          []

In [62]:
NotePub = [{'$geoNear': {'near': NotePub_point , 'distanceField': 'dist', 'maxDistance': 1000, 'spherical': True}}]

In [63]:
NotePub = list(venues_mongo.aggregate(NotePub))

In [64]:
df_NotePub = pd.DataFrame(NotePub)

In [65]:
df_NotePub_distance = api.mindistance(df_NotePub)

In [66]:
df_NotePub_distance

,vegan,club,competency,kindergarten,starbucks,basketball,hairdresser
0,124.053124,117.139576,0.040079,981.905569,103.219211,614.02941,[]

In [67]:
FeedzZ = [{'$geoNear': {'near': FeedzZ_point , 'distanceField': 'dist', 'maxDistance': 1000, 'spherical': True}}]

In [68]:
FeedzZ = list(venues_mongo.aggregate(FeedzZ))

In [69]:
df_FeedzZ = pd.DataFrame(FeedzZ)

In [70]:
df_FeedzZ_distance = api.mindistance(df_FeedzZ)

In [71]:
df_FeedzZ_distance

  vegan        club competency kindergarten starbucks  basketball hairdresser
0    []  638.068043         []           []        []  751.651838          []

In [72]:
Adoos = [{'$geoNear': {'near': Adoos_point , 'distanceField': 'dist', 'maxDistance': 1000, 'spherical': True}}]

In [73]:
Adoos = list(venues_mongo.aggregate(Adoos))

In [74]:
df_Adoos = pd.DataFrame(Adoos)

In [75]:
df_Adoos_distance = api.mindistance(df_Adoos)

In [76]:
df_Adoos_distance

  vegan club competency kindergarten starbucks basketball hairdresser
0    []   []         []           []        []         []          []

In [77]:
MediBANK = [{'$geoNear': {'near': MediBANK_point , 'distanceField': 'dist', 'maxDistance': 1000, 'spherical': True}}]

In [78]:
MediBANK = list(venues_mongo.aggregate(MediBANK))

In [79]:
df_MediBANK = pd.DataFrame(MediBANK)

In [80]:
df_MediBANK_distance = api.mindistance(df_MediBANK)

In [81]:
df_MediBANK_distance

  vegan club competency kindergarten starbucks basketball hairdresser
0    []   []         []           []        []         []          []

## Me quedo con Notepub

In [82]:
df_NotePub = pd.DataFrame(NotePub)

### Add lat y lon for maps

In [84]:
lat = []
for x in range(0, len(df_NotePub)):
       lat.append(df_NotePub.location[x].get('coordinates')[0])

In [85]:
lon = []
for x in range(0, len(df_NotePub)):
       lon.append(df_NotePub.location[x].get('coordinates')[1])

In [86]:
df_NotePub['lat'] = lat
df_NotePub['lon'] = lon

In [87]:
df_NotePub.to_csv('data/df_NotePub.csv', index=False)

#### Otra manera de sacar distancia

In [ ]:
latlin1 = [40.408808, -3.7034796]
latlon2 = 0
for n in df.location:
    coordinates = n.get('coordinates')
latlon2.append(coordinates)

In [104]:
latlon1 = [40.408808, -3.7034796]
latlon2 = []
for x in range(0, len(df)):
       latlon2.append(df.location[x].get('coordinates'))

In [113]:
latlon1 = [40.408808, -3.7034796]
latlon2 = [40.4119769783, -3.7011140219]

In [114]:
import math

In [115]:
def latlon_dist(latlon1,latlon2):
    """
    This functions returns the distance between 2 points with its coordinates
    in lat long.
    latlon1,latlong2: list[lat,long]
    
    return distance in km
    """
  
    lat1=math.radians(latlon1[0])
    lon1=math.radians(latlon1[1])

    lat2=math.radians(latlon2[0])
    lon2=math.radians(latlon2[1])

    R = 6373.0

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = math.sin(dlat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return R * c

In [116]:
latlon_dist(latlon1,latlon2)

0.4054437382635998